body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #bfbfbf;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

.errors {
color: red;
}